streamlit
pandas
plotly
finance-datareader
requests
beautifulsoup4
yfinance>=1.1.0
pytz
feedparser
openpyxl
curl-cffi
lxml
matplotlib
wordcloud
seaborn
numpy
scikit-learn
pandas_datareader